/*    User-registration template    */









@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }
    
    .bg-indigo {
    background-color: #4835d4;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }



/*--------------- Sign up form style -------------------*/
#signup {}
.signup-wrap {
    border-radius: 20px;
    color: #fff;
    margin-top: 100px;
    display: table;
    overflow: hidden;
}
.card {
    padding: 20px;
    background-color: #212F3D;
}
.card-heading {
    width: 100%;
    height: 100%;
    display: flow-root;
    text-align: center;
    align-content: center;
    align-items: center !important;
    bottom: 0;
}
.card-heading img {
    width: 90%;
    height: auto;
    display: flex;
}
/*--- card body ---*/

.card-body {
    margin-top: 20px;
}
.card-body > .heading {
    font-size: 18px;
    font-family: cursive;
    margin-bottom: 30px;
    text-align: center;
}

.s_reg {}
input {
    color: #fff;
}
.s_reg input {
    font-size: 14px;
    font-family: cursive;
    background: none;
    outline: none;
    color: #fff;
    border: none;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
}
.s_reg input:focus, .s_reg select:focus {
    outline: none;
    background: none;
}
.s_reg input:active {
    outline: none;
}
.s_reg input[type=""] {}
.s_reg input::placeholder {
    color: #fff;
}

 
input:focus,
select:focus,
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}
